<%- include('header') -%>

  <main>
    <h2>Home</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ad accusantium aliquid debitis officia, enim eius consequuntur nobis delectus, adipisci molestias fugit architecto illum maxime reiciendis iure consectetur, explicabo repellendus.
    </p>

    <% for(let i = 0; i<journal.length; i++){ %>
      <article>
        <header>
          <%= journal[i].title %>
        </header>
      <p>
        <%= truncate(journal[i].text) %>
        <a href="/<%= journal[i].title %>">More</a></p> 
      </article>
    <% } %>

  </main>

<%- include('footer') -%>

